
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" id="search-query" >
    <%= form_tag search_load_out_path, method: "post", remote: true  do %>
 <!--   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
    <%= text_field_tag :query, '', placeholder: "search",class:"form-control mr-sm-2" %>
  <%= hidden_field_tag :sort, @sort %>
  <%= hidden_field_tag :load_out_rows, @rows_per_page %>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  </form>
</nav>


<% end %>
