<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/nT4k2JDtwTQ);background-size: cover ;">
  <div class="container">
    <h1>Terminal 1 AS</h1>
    <p>Your logistic <strong>partner</strong>.</p>
    <div><%= link_to 'Go to dashboard', dashboard_index_path, class: 'btn btn-flat'%></div>
  </div>
</div>
