
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    List
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to '5', scope_search_path(page: @page, sort: @sort, loadin_rows: 5,query: @query), method: :post, remote: true, class:"dropdown-item" %>
    <%= link_to '10', scope_search_path(page: @page, sort: @sort, loadin_rows: 10,query: @query), method: :post, remote: true, class:"dropdown-item" %>
    <%= link_to '15', scope_search_path(page: @page, sort: @sort, loadin_rows: 15,query: @query), method: :post, remote: true , class:"dropdown-item"%>
    <%= link_to '20', scope_search_path(page: @page, sort: @sort, loadin_rows: 20,query: @query), method: :post, remote: true, class:"dropdown-item" %>
  </div>
</div>








<%#= form_tag scope_search_path, remote: true, :id => 'loadin-set-rows-form' do %>
<!--   <div class="input-group set-rows">
 -->    <%#= select_tag :loadin_rows, options_for_select([5, 10, 15, 20], @rows_per_page) %>
    <%#= hidden_field_tag :page, @page %>
    <%#= hidden_field_tag :sort, @sort %>
    <%#= hidden_field_tag :query, @query %>
<!--   </div>

<%# end %> -->

