<div >
  <%= simple_form_for([@load_in], html: {class: "form-inline modal-form in-assignment-form-edit"}, remote: true) do |form| %>
  <div class="form-group col-md-12">
    <!-- <div class="row "> -->
      <%= form.association :t1_customer, label: false, input: T1Customer.all, selected: [0] %>
      <%= form.button :submit, value:"update", class:"btn btn-success"%>
      <div id="loadin-form-edit-close">
        <button type="button" class="close ml-2">
           <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <% end %>
