
.new_load_in .form-control {
  font-size: 0.8rem;
  line-height: 1;
    .form-group {
      margin-bottom: 0.5rem;
    }
}

.new_load_in {
  font-size: 0.8rem;
  line-height: 1;
  .form-group {
      margin-bottom: 0.5rem;
    }
}
