.modal-detail {
  border: 1px solid #dee2e6;
  padding: 0.5rem;


};

.modal-header {
  border-bottom: none;
  margin-bottom:none;
}

.modal-body {
  .divLoadin{
  margin-bottom: 1rem;
  }
  .company {

  }
  .loadin-arrival {
    border-left: none;
  }
  .status {
    border-left-style: none;
  }
  .reference {
    border-top: none;

  }
  .trailer {
    border-top: none;
    margin-bottom: 1rem;

  }
  .truck {
    border-top: none;
    border-left: none;

  }
  .note {
    border-top: none;
    border-left: none;

  }
};

.form-control.is-valid {
  background-image: none;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;

  }
  #printSection {
    position:absolute;
    left:2em;
    top:2em;
    width: 90%;
  }
}
