.navbar-lewagon {
  justify-content: flex-end;
  background: white;
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
