.in-assignment-rows {
  background-color: $light;
  line-height: 1;
  font-style: italic;
  font-size: 0.8rem;
}

.in-assignment-title {
  background-color: $light;
  line-height: 0.8;
  font-style: italic;
  font-size: 0.8rem;
  padding: 0.7rem;
}

table {
line-height: 1;
font-size: 1rem;
font-weight: lighter;
font-family: "Open Sans";

}

#loadin-table-head{
  tr {
    th {
     border-bottom: 0 !important;
    }
  }
}


.table th {
  padding: 0.7rem !important;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  }




.table td {
  padding: 0.7rem !important;
  font-weight: lighter;
  padding: 0 10px 0 0;
  margin: 0;


  }

// .table td.first {
//   padding: 0.7rem !important;
//   font-weight: lighter;
//   padding: 0 10px 0 0;
//   margin: 0;
//   border: 0

//   }
